.h2_footer {
    text-align: center;
    color: var(--case);
    margin-top: 20px;
    margin-bottom: 0;
    background-color: var(--primaire);
    padding: 40px;
}

@media (max-width: 700px) {
    iframe {
        height: 250px;
    }
}

footer {
    background-color: var(--primaire);
    margin: 0;
    padding-bottom: 50px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
@media (max-width:520px) {
    .icon {
        gap: 70px;
    }
}

.icon img {
    width: 30px;
}

.icon .facebook {
    width: 40px;
}

.horaires {
    color: var(--case);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-left: 90px;
    font-size: 20px;
}
@media (max-width:550px) {
    .horaires{
        margin-left: 60px;
        font-size: 16px;
    }
}
@media (max-width:500px) {
    .horaires{
        margin-left: 40px;
    }
}
@media (max-width:400px) {
    .horaires{
        margin-left: 30px;
    }
}
@media (max-width:358px) {
    .horaires{
        margin-left: 0px;
    }
}

.contact, .rgpd {
    color: var(--case);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-left: 0;
}

.contact .phone {
    width: 40px;
}

.contact .pointer {
    width: 50px;
}

.contact .minimail {
    width: 30px;
    margin-right: 20px;
}

.contact a {
    text-decoration: none;
    color: var(--case);
        display: flex;
    align-items: center;
}

@media (max-width: 898px) {
    .contact{
        gap: 30px;
    }
}

@media (max-width: 898px) {
    .contact , .rgpd{
        flex-direction: column;
    }
    .rgpd {
        gap: 20px;
    }
}

.rgpd a {
    text-decoration: none;
    color: var(--case);
    font-size: 14px;
}

.rgpd li {
    text-align: center;
}

.copyright {
    color: var(--case);
    text-align: center;
    font-size: 14px;
}

.footer_resto {
    background-color: var(--restaurant);
}

.h2_footer_resto {
    background-color: var(--restaurant);
    color: var(--case);
    padding: 20px;
    text-align: center;
    padding-bottom: 0;
}