:root{
    --primaire: #1C3423;
    --case: #F3F5F6;
    --secondary: #677D38;
    --background: #FFFFFF;
    --texte: #2C2C2C;
    --actif: #9ABD55;
    --carte: #2B3C58;
    --titre-carte: #0A1B80;
    --restaurant: #2B3C58;
}