:root{
    --primaire: #1C3423;
    --case: #F3F5F6;
    --secondary: #A4C868;
    --background: #FFFFFF;
    --texte: #2C2C2C;
    --actif: #C0DE8D;
    --carte: #705A2A;
    --titre-carte: #0A1B80;
    --restaurant: #2B3C58;
}